:root {
  --PRIMARY700: #3f1dd1;
  --PRIMARY200: #cdcfff;
  --RED800: #8f0900;
  --PRIMARY400: #7f7cff;
  --RED700: #aa0a00;
  --GREEN800: #085d49;
  --GREEN500: #0da782;
  --SKYBLUE100: #d3e7ff;
  --SKYBLUE300: #87b0ff;
  --RED400: #fd5e49;
  --GREEN100: #c3f6db;
  --GREY50: #f7f9fa;
  --SKYBLUE600: #355dc6;
  --GREEN50: #ecfff5;
  --SKYBLUE500: #4b75e4;
  --SKYBLUE800: #203e8c;
  --SKYBLUE900: #18306d;
  --RED900: #700700;
  --PRIMARY600: #532cff;
  --PRIMARY450: #6c62df;
  --GREEN600: #018e6c;
  --GREEN400: #35b790;
  --RED100: #ffcdc7;
  --PRIMARY800: #341aa6;
  --PRIMARY50: #f3f3ff;
  --PRIMARY15: #fafaff;
  --WHITE: #fff;
  --PRIMARY900: #291778;
  --RED200: #ffa69a;
  --RED50: #ffedeb;
  --GREY900: #202327;
  --GREY500: #aab0b8;
  --SKYBLUE50: #e5f2ff;
  --GREEN200: #82e1bf;
  --PRIMARY75: #f0f0ff;
  --GREY300: #dbdee2;
  --GREEN300: #4fcd9f;
  --GREY200: #e7e9ed;
  --PRIMARY100: #e0e2ff;
  --RED300: #ff8271;
  --BLACK: #000;
  --PRIMARY500: #6558ff;
  --GREEN900: #034a3a;
  --SKYBLUE700: #2d4ea6;
  --GREY100: #f0f1f4;
  --GREY700: #484e55;
  --SKYBLUE200: #afcfff;
  --SKYBLUE15: #f5faff;
  --SKYBLUE400: #638eff;
  --GREY800: #33383d;
  --GREEN700: #047158;
  --PRIMARY300: #b2b6ff;
  --RED500: #e2331b;
  --GREY600: #838991;
  --GREY400: #cbcfd5;
  --RED600: #bd1700;
}
